name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable
      - name: Pub get (root)
        run: dart pub get
      - name: Pub get (annotations)
        run: dart pub get
        working-directory: more_visibility_annotation
      - name: Pub get (example)
        run: dart pub get
        working-directory: example
      - name: Tests
        run: dart test
